<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>Generate_with_Order.py</string>
			<key>preferredName</key>
			<string>Ordered Generate</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Ben Kiel</string>
	<key>developerURL</key>
	<string>http://www.typefounding.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Ordered Generate</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>6</string>
	<key>timeStamp</key>
	<real>1440435065.4167321</real>
	<key>version</key>
	<string>1.2.1</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
	  <key>repository</key>
	  <string>Typefounding/ordered_generate</string>
	  <key>summary</key>
          <string>Applys an encoding file’s glyph order when generating a font.</string>
	</dict>
</dict>
</plist>
